In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('bodyPerformance.csv')
data.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [4]:
def max_values(data):
    max_values = []
    for column in data.columns:
        max_values.append(data[column].max())
    return max_values

def min_values(data):
    min_values = []
    for column in data.columns:
        min_values.append(data[column].min())
    return min_values


max_values = max_values(data)
min_values = min_values(data)

max_values

[64.0, 'M', 193.8, 138.1, 78.4, 156.2, 201.0, 70.5, 213.0, 80.0, 303.0, 'D']

In [5]:
min_values

[21.0, 'F', 125.0, 26.3, 3.0, 0.0, 0.0, 0.0, -25.0, 0.0, 0.0, 'A']

In [21]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler, RobustScaler
encoder = LabelEncoder()
scaler = MinMaxScaler()

In [22]:
from sklearn.preprocessing import OneHotEncoder
gender_data = pd.DataFrame(OneHotEncoder().fit_transform(data[['gender']]).toarray(),columns=["Female","Male"])
data.drop("gender", axis=1, inplace=True)
data = pd.concat([data, gender_data], axis=1)

In [23]:
data

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class,Female,Male
0,27.0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C,0.0,1.0
1,25.0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A,0.0,1.0
2,31.0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C,0.0,1.0
3,32.0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B,0.0,1.0
4,28.0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13388,25.0,172.1,71.80,16.2,74.0,141.0,35.8,17.4,47.0,198.0,C,0.0,1.0
13389,21.0,179.7,63.90,12.1,74.0,128.0,33.0,1.1,48.0,167.0,D,0.0,1.0
13390,39.0,177.2,80.50,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A,0.0,1.0
13391,64.0,146.1,57.70,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D,1.0,0.0
13392,34.0,164.0,66.10,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C,0.0,1.0

In [ ]:
gender = pd.DataFrame

In [ ]:
from sklearn.preprocessing import OneHotEncoder


def preprocess(data):
    target = data['class']
    data = data.drop('class', axis=1)
    #target
    target = encoder.fit_transform(target)
    #set column as y column
    target = pd.DataFrame(target, columns=['class'])

    max_val = max_values(data)
    min_val = min_values(data)

    gender = OneHotEncoder().fit_transform(data['gender'])

    data['age'] = scaler.fit_transform(data['age'].values.reshape(-1,1))
    data['height_cm'] = scaler.fit_transform(data['height_cm'].values.reshape(-1,1))
    data['weight_kg'] = scaler.fit_transform(data['weight_kg'].values.reshape(-1,1))
    data['body fat_%'] = scaler.fit_transform(data['body fat_%'].values.reshape(-1,1))
    data['diastolic'] = scaler.fit_transform(data['diastolic'].values.reshape(-1,1))
    data['gripForce'] = scaler.fit_transform(data['gripForce'].values.reshape(-1,1))
    data['sit and bend forward_cm'] = scaler.fit_transform(data['sit and bend forward_cm'].values.reshape(-1,1))
    data['sit-ups counts'] = scaler.fit_transform(data['sit-ups counts'].values.reshape(-1,1))
    data['broad jump_cm'] = scaler.fit_transform(data['broad jump_cm'].values.reshape(-1,1))

    return data, target, max_val, min_val

data, target, max_values, min_values = preprocess(data)

In [ ]:
data

In [ ]:
def remove_correlated(data):
    correlation = data.corr()
    for i in range(len(correlation.columns)):
        for j in range(i):
            if abs(correlation.iloc[i, j]) > 0.85:
                colname = correlation.columns[i]
                data.drop(colname, axis=1, inplace=True)
    return data

In [ ]:
#find outliers and remove them
def find_outliers(data):
    q1 = data.quantile(0.25)
    q3 = data.quantile(0.75)
    iqr = q3-q1
    lower_bound = q1 -(1.5 * iqr)
    upper_bound = q3 +(1.5 * iqr)

    #fill outliers with median
    for column in data.columns:
        data[column] = np.where(data[column] > upper_bound[column], data[column].median(), data[column])
        data[column] = np.where(data[column] < lower_bound[column], data[column].median(), data[column])

    return data

data = remove_correlated(data)
data = find_outliers(data)

data.info()

In [ ]:
#most important features
def most_important_features(data, target,threshold):
    from sklearn.ensemble import ExtraTreesClassifier
    import matplotlib.pyplot as plt
    model = ExtraTreesClassifier()
    model.fit(data, target)
    for feature in zip(data.columns, model.feature_importances_):
        if feature[1] > threshold:
            data.drop(feature[0], axis=1, inplace=True)
    return data